# Import all Modules and CSV

In [46]:
import pandas as pd
import numpy as np

In [47]:
Users=pd.read_csv("../Users.csv",sep='\t',lineterminator='\r',names=['userId','Reputation','Location'])
Users=Users.dropna(axis=0, how='any')
Users=Users.loc[Users['Reputation']>1]
Users=Users.loc[Users['Location']!='Unknown']
Users['Country']='NP'

In [48]:
len(Users)

712966

# Clean up the UserID

In [49]:
def UserIdClearner(text):
    text=text.strip()
    text=text.replace('"',"")
    text=text.strip()
    text=text.replace('"',"")
    
    return int(text)

In [50]:
Users["userId"]=Users["userId"].apply(UserIdClearner)

# Getting User Country

## Using the major country list

In [51]:
CountryList=['United States', 'Afghanistan', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antarctica',
       'Antigua And Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia', 'Bosnia And Herzegowina', 'Botswana',
       'Bouvet Island', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada',
       'Cape Verde', 'Cayman Islands', 'Central African Rep', 'Chad',
       'Chile', 'China', 'Christmas Island', 'Cocos Islands', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', 'Cote D`ivoire',
       'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Ethiopia', 'Falkland Islands',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia',  'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'North Korea', 'South Korea',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macau', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Micronesia',
       'Moldova', 'Monaco', 'Mongolia', 'Montserrat', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'Netherlands Antilles', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norfolk Island',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Reunion',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts And Nevis',
       'Saint Lucia', 'St Vincent/Grenadines', 'Samoa', 'San Marino',
       'Sao Tome', 'Saudi Arabia', 'Senegal', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'Spain', 'Sri Lanka', 'St. Helena', 'St.Pierre',
       'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland',
     'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Tokelau', 'Tonga', 'Trinidad And Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Vatican City State', 'Venezuela','Vietnam',
       'Virgin Islands', 'Syria',
       'Western Sahara', 'Yemen', 'Zaire', 'Zambia',
       'Zimbabwe']

In [52]:
import string
#CountryList=['India','New Zealand','Turkey','Denmark','Norway','Spain','Portugal' ,'Germany', 'Pakistan','United Kingdom', 'France', 'Netherlands', 'United States','Malaysia','Japan','Indonesia', 'Canada','Singapore','Belgium', 'Brazil','Ukraine', 'Russia', 'Sweden', 'China', 'Poland', 'Israel', 'Australia']
def GetCountryNaive(location):
    check=location.split(',')
    Country= check[-1].replace('"',"")
    Country=Country.strip()
    
    if Country=='UK'or Country=='England'or Country=='Scotland' or Country=='Wales':
        Country='United Kingdom'
    elif Country=='US' or Country=='USA'or Country=='United States of America':
        Country='United States'
    elif Country=='Brasil':
        Country='Brazil'  
    elif Country=='Deutschland':
        Country='Germany'  
    elif Country=='Viet Nam':
        Country='Vietnam' 
    if Country in CountryList:
        return Country
    else:
        check=Country.split(' ')
        if len(check)>2:
            Country= check[-2]+' '+check[-1].replace('"',"")
            if Country in CountryList:
                return Country
        else:
            Country=check[-1].replace('"',"")
        if Country in CountryList:
            return Country
        if check[-1].strip() in CountryList:
            return check[-1].strip()
        else:
            return 'NP'

In [53]:
Users["Country"]=Users["Location"].apply(GetCountryNaive)

## Using the States of United States- Full/Short

In [54]:
USList=states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY" ]

USListState=["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
  "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
  "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
  "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
  "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming","San Fransisco"]

CanadaList=['YT','PE','BC','AB','ON','NB','SK','NS','QC','MB']
def GetStatesUSnCanadaNaive(location):
    check=location.split(',')
    Country= check[-1].replace('"',"")
    Country=Country.strip()
        
    if Country in USList:
        return 'United States'
    
    if Country in CanadaList:
        return 'Canada'
    
    if Country in USListState:
        return 'United States'
    
    else:
        check=Country.split(' ')
        if len(check)>2:
            Country= check[-2]+' '+check[-1].replace('"',"")
        else:
            Country=check[-1].replace('"',"")
        if Country in USListState:
            return 'United States'
        if check[-1] in USListState:
            return 'United States'
        else:
            return 'NP'

In [55]:
RemainUsers=Users[:].loc[Users["Country"]=='NP']
DoneUsers=Users[:].loc[Users["Country"]!='NP']
RemainUsers["Country"]=RemainUsers["Location"].apply(GetStatesUSnCanadaNaive)

In [56]:
Users=pd.concat([DoneUsers, RemainUsers])
Users=Users.sort_values(by='userId')

In [57]:
RemainUsers=Users[:].loc[Users["Country"]=='NP']
DoneUsers=Users[:].loc[Users["Country"]!='NP']

In [58]:
from geotext import GeoText
import pycountry
def CheckCountryorCity(text):
    places = GeoText(text)
    if len(places.cities)>0:
        CountryCode=list(places.country_mentions.keys())
        if CountryCode[0]== 'XK':
            return 'Kosovo'
        if CountryCode[0]== 'UK':
            return 'United Kingdom'
        Country = pycountry.countries.get(alpha_2=CountryCode[0])
        return Country.name
    if len(places.country_mentions)>0:
        CountryCode=list(places.country_mentions.keys())
        if CountryCode[0]== 'XK':
            return 'Kosovo'
        if CountryCode[0]== 'UK':
            return 'United Kingdom'
        Country = pycountry.countries.get(alpha_2=CountryCode[0])
        return Country.name

    return 'Check'

In [59]:
def SpellChecks(text):
    if text=='Russian Federartio':
        return 'Russia'
    if text=='Venezuela, Bolivarian Republic of':
        return 'Venezuala'
    if text=='Czechia':
        return 'Czech Republic'
    if text=='Korea, Republic of':
        return 'South Korea'
    if text=='Iran, Islamic Republic of':
        return 'Iran'
    if text=='Taiwan, Province of China':
        return 'Taiwan'
    if text=='Moldova, Republic of':
        return 'Moldova'
    if text=='Bolivia, Plurinational State of':
        return 'Bolivia'
    if text=='Syrian Arab Republic':
        return 'Syria'
    if text=="Korea, Democratic People's Republic of":
        return 'North Korea'
    if text=="Congo, The Democratic Republic of the":
        return 'Congo'
    if text=="Tanzania, United Republic of":
        return 'Tanzania'
    if text=="Lao People's Democratic Republic":
        return 'Laos'
    else:
        return text

In [60]:
RemainUsers["Country"]=RemainUsers["Location"].apply(CheckCountryorCity)

In [61]:
Users=pd.concat([DoneUsers, RemainUsers])
Users=Users.sort_values(by='userId')

In [62]:
#RemainUsers=Users[:].loc[Users["Country"]=='Check']
Users=Users[:].loc[Users["Country"]!='Check']

In [63]:
Users["Country"]=Users["Country"].apply(SpellChecks)

In [64]:
Users.head()

   userId  Reputation                       Location        Country
2       1     41626.0                El Cerrito, CA"  United States
3       2      3100.0  Corvallis, OR, United States"  United States
4       3     13028.0    Raleigh, NC, United States"  United States
5       4     27501.0                  New York, NY"  United States
6       5     37057.0                 San Diego, CA"  United States

In [65]:
USDATA=pd.read_csv("../DIOC_OCCUPATION_DET_15122017142929203.csv")

In [66]:
USDATA=USDATA.loc[USDATA['Detailed occupation']=='Computer and mathematical science occupations']
USDATA['Country']=USDATA['Country of birth']

In [67]:
validcountry=USDATA.Country.unique()
validcountry=np.append(validcountry,'Tanzania')
validcountry=np.append(validcountry,'North Korea')
validcountry=np.append(validcountry,'South Korea')
validcountry=np.append(validcountry,'Taiwan')
validcountry

array(['Africa', 'Algeria', 'Cameroon', 'Cape Verde', 'Egypt', 'Eritrea',
       'Ethiopia', 'Ghana', 'Kenya', 'Liberia', 'Morocco', 'Nigeria',
       'Sierra Leone', 'Somalia', 'South Africa', 'Senegal', 'Sudan',
       'Uganda', 'United Rep. of Tanzania', 'Zimbabwe',
       'Unknown place of birth in Africa',
       'Unknown place of birth in Asia', 'Vietnam', 'Yemen', 'Uzbekistan',
       'Sri Lanka', 'Syria', 'Thailand', 'South Korea', 'Singapore',
       'Saudi Arabia', 'North and South Korea', 'Pakistan', 'Philippines',
       'Myanmar', 'Nepal', 'Malaysia', 'Lebanon', 'Kuwait', 'Laos',
       'Japan', 'Jordan', 'Hong Kong', 'Israel', 'India', 'Indonesia',
       'Iran', 'Iraq', 'China', 'Chinese Taipei', 'Cambodia', 'Azerbaijan',
       'Bangladesh', 'Armenia', 'Afghanistan', 'Asia', 'Europe', 'Albania',
       'Belarus', 'Belgium', 'Austria', 'Bosnia-Herzegovina', 'Bulgaria',
       'Cyprus', 'Czech Republic', 'Denmark', 'Croatia', 'Ireland',
       'Italy', 'Hungary', 'Greece', 'Georgia', 'Germany', 'Finland',
       'Former Czechoslovakia', 'Former USSR', 'Former Yugoslavia',
       'France', 'Latvia', 'Lithuania', 'Macedonia', 'Moldova',
       'Netherlands', 'Norway', 'Romania', 'Russia', 'Poland', 'Portugal',
       'Slovak Republic', 'Spain', 'Serbia and Montenegro', 'Turkey',
       'Sweden', 'Switzerland', 'United Kingdom', 'Ukraine',
       'Unknown place of birth in Europe', 'United States', 'Canada',
       'North America', 'Oceania', 'American Samoa', 'Australia',
       'New Zealand', 'Fiji', 'Guam', 'Tonga', 'Samoa',
       'Unknown place of birth in Oceania', 'Venezuela',
       'Unknown place of birth in South and Central America and Carribean',
       'Salvador', 'Panama', 'Paraguay', 'Peru', 'Puerto Rico',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent & Grenadines', 'Trinidad and Tobago',
       'United States Virgin Islands', 'Uruguay', 'Guatemala', 'Honduras',
       'Jamaica', 'Grenada', 'Guyana', 'Haiti', 'Mexico', 'Nicaragua',
       'Costa Rica', 'Colombia', 'Cuba', 'Chile', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Antigua and Barbuda', 'Argentina',
       'South and Central America and Caribbean', 'Bolivia', 'Brazil',
       'Belize', 'Bermuda', 'Barbados', 'Bahamas',
       'Other and unknown places of birth',
       'Other place of birth (foreign-born)', 'All countries of birth',
       'Tanzania', 'North Korea', 'South Korea', 'Taiwan'], dtype=object)

In [68]:
#Users=#RemainUsers=Users[:].loc[Users["Country"]=='Check']
#Users=Users.loc[Users["Country"]in validcountry]
ValidUsers = Users[Users['Country'].isin(validcountry)]
ValidUsers=ValidUsers.drop(['Location'], axis=1)
#ValidUsers

In [77]:
CountryStat=pd.DataFrame(ValidUsers.Country.value_counts())
CountryStat.to_pickle('../CountryStat.pickle')
CountryStat.to_csv("../UsersLocationWise.csv")
CountryStat

                     Country
United States         171067
India                 100440
United Kingdom         46100
Germany                31817
Canada                 23027
France                 17702
Australia              15271
Brazil                 14609
Netherlands            12892
China                  11584
Russia                 11334
Spain                   9060
Poland                  9028
Italy                   9000
Sweden                  8751
Pakistan                8596
Ukraine                 7079
Belgium                 5526
Switzerland             5234
Israel                  5213
Iran                    4933
Philippines             4803
Denmark                 4801
Turkey                  4757
South Africa            4736
Romania                 4664
Indonesia               4308
Portugal                4085
Ireland                 4023
Bangladesh              3969
...                      ...
Cameroon                 149
Afghanistan              146
Zimbabwe                 140
Tanzania                 138
Honduras                 116
Sudan                     83
Yemen                     65
Senegal                   59
Fiji                      40
Bermuda                   30
Barbados                  23
Somalia                   21
Bahamas                   20
Belize                    18
Laos                      18
Haiti                     17
Guyana                    16
North Korea               14
Guam                      12
Cape Verde                10
Sierra Leone               8
Dominica                   7
Eritrea                    6
Grenada                    5
Liberia                    5
Trinidad and Tobago        5
Saint Lucia                3
American Samoa             3
Tonga                      2
Samoa                      2

[124 rows x 1 columns]

In [72]:
ValidUsers.quantile(.83)

userId        5698127.22
Reputation        648.00
Name: 0.83, dtype: float64

In [73]:

Top17pcUsers=ValidUsers.loc[Users['Reputation']>648]
Top17pcUsers.to_csv("../Top17pcUsers.csv",index= False)

In [74]:
ValidUsers.quantile(.17)

userId        631335.46
Reputation        11.00
Name: 0.17, dtype: float64

In [75]:

Bottom17pcUsers=ValidUsers.loc[Users['Reputation']<11]
Bottom17pcUsers.to_csv("../Bottom17pcUsers.csv",index= False)

In [76]:
ValidUsers.to_csv("../UsersWithCountry.csv",index= False)