In [1]:
import pandas as pd
import numpy as np

In [20]:
MigrationUS=pd.read_csv("../DIOC_OCCUPATION_DET_15122017142929203.csv")
MigrationUS=MigrationUS.loc[MigrationUS['Detailed occupation']=='Computer and mathematical science occupations']
MigrationUS['Country']=MigrationUS['Country of birth']
MigrationUS=MigrationUS.drop(['COUB','Country of birth','FBORN','Place of birth','DET_OCCUP','COU','Flag Codes','Flags'], axis=1)

In [21]:
MigrationUS

,Detailed occupation,Country of residence,Value,Country
2,Computer and mathematical science occupations,United States,21556,Africa
3,Computer and mathematical science occupations,United States,21556,Africa
50,Computer and mathematical science occupations,United States,429,Algeria
51,Computer and mathematical science occupations,United States,429,Algeria
94,Computer and mathematical science occupations,United States,535,Cameroon
95,Computer and mathematical science occupations,United States,535,Cameroon
142,Computer and mathematical science occupations,United States,130,Cape Verde
143,Computer and mathematical science occupations,United States,130,Cape Verde
190,Computer and mathematical science occupations,United States,2096,Egypt
191,Computer and mathematical science occupations,United States,2096,Egypt
238,Computer and mathematical science occupations,United States,225,Eritrea
239,Computer and mathematical science occupations,United States,225,Eritrea
284,Computer and mathematical science occupations,United States,1399,Ethiopia
285,Computer and mathematical science occupations,United States,1399,Ethiopia
330,Computer and mathematical science occupations,United States,1545,Ghana
331,Computer and mathematical science occupations,United States,1545,Ghana
378,Computer and mathematical science occupations,United States,1626,Kenya
379,Computer and mathematical science occupations,United States,1626,Kenya
426,Computer and mathematical science occupations,United States,666,Liberia
427,Computer and mathematical science occupations,United States,666,Liberia
474,Computer and mathematical science occupations,United States,1105,Morocco
475,Computer and mathematical science occupations,United States,1105,Morocco
520,Computer and mathematical science occupations,United States,3541,Nigeria
521,Computer and mathematical science occupations,United States,3541,Nigeria
568,Computer and mathematical science occupations,United States,260,Sierra Leone
569,Computer and mathematical science occupations,United States,260,Sierra Leone
612,Computer and mathematical science occupations,United States,400,Somalia
613,Computer and mathematical science occupations,United States,400,Somalia
656,Computer and mathematical science occupations,United States,2824,South Africa
657,Computer and mathematical science occupations,United States,2824,South Africa
...,...,...,...,...
6325,Computer and mathematical science occupations,United States,169,Dominica
6370,Computer and mathematical science occupations,United States,2735,Dominican Republic
6371,Computer and mathematical science occupations,United States,2735,Dominican Republic
6418,Computer and mathematical science occupations,United States,2005,Ecuador
6419,Computer and mathematical science occupations,United States,2005,Ecuador
6466,Computer and mathematical science occupations,United States,170,Antigua and Barbuda
6467,Computer and mathematical science occupations,United States,170,Antigua and Barbuda
6512,Computer and mathematical science occupations,United States,1970,Argentina
6513,Computer and mathematical science occupations,United States,1970,Argentina
6558,Computer and mathematical science occupations,United States,81173,South and Central America and Caribbean
6559,Computer and mathematical science occupations,United States,81173,South and Central America and Caribbean
6606,Computer and mathematical science occupations,United States,627,Bolivia
6607,Computer and mathematical science occupations,United States,627,Bolivia
6654,Computer and mathematical science occupations,United States,3891,Brazil
6655,Computer and mathematical science occupations,United States,3891,Brazil
6702,Computer and mathematical science occupations,United States,345,Belize
6703,Computer and mathematical science occupations,United States,345,Belize
6750,Computer and mathematical science occupations,United States,250,Bermuda
6751,Computer and mathematical science occupations,United States,250,Bermuda
6796,Computer and mathematical science occupations,United States,699,Barbados
6797,Computer and mathematical science occupations,United States,699,Barbados
6844,Computer and mathematical science occupations,United States,271,Bahamas
6845,Computer and mathematical science occupations,United States,271,Bahamas
6892,Computer and mathematical science occupations,United States,48,Other and unknown places of birth
6893,Computer and mathematical science occupations,United States,48,Other and unknown places of birth
6936,Computer and mathematical science occupations,United States,48,Other place of birth (foreign-born)
6937,Computer and mathematical science occupations,United States,48,Other place of birth (foreign-born)
6981,Computer and mathematical science occupations,United States,615009,All countries of birth
6982,Computer and mathematical science occupations,United States,2567722,All countries of birth
6983,Computer and mathematical science occupations,United States,3182731,All countries of birth

In [26]:
def CountrySpellCheck(text):
    if text=='United Rep. of Tanzania':
        return 'Tanzania'
    if text=='Chinese Taipei':
        return'Taiwan'
    else:
        return text

In [27]:
MigrationUS["Country"]=MigrationUS["Country"].apply(CountrySpellCheck)

In [30]:
CountryList=['United States', 'Afghanistan', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antarctica',
       'Antigua And Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia', 'Bosnia And Herzegowina', 'Botswana',
       'Bouvet Island', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada',
       'Cape Verde', 'Cayman Islands', 'Central African Rep', 'Chad',
       'Chile', 'China', 'Christmas Island', 'Cocos Islands', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', 'Cote D`ivoire',
       'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Ethiopia', 'Falkland Islands',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia',  'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'North Korea', 'South Korea',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macau', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Micronesia',
       'Moldova', 'Monaco', 'Mongolia', 'Montserrat', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'Netherlands Antilles', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norfolk Island',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Reunion',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts And Nevis',
       'Saint Lucia', 'St Vincent/Grenadines', 'Samoa', 'San Marino',
       'Sao Tome', 'Saudi Arabia', 'Senegal', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'Spain', 'Sri Lanka', 'St. Helena', 'St.Pierre',
       'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland',
     'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Vatican City State', 'Venezuela','Vietnam',
       'Virgin Islands', 'Syria','Chinese Taipei',
       'Western Sahara', 'Yemen', 'Zaire', 'Zambia',
       'Zimbabwe','North and South Korea']

In [33]:
MigrationUS=MigrationUS[MigrationUS["Country"].isin(CountryList)]

In [34]:
MigrationUS

,Detailed occupation,Country of residence,Value,Country
50,Computer and mathematical science occupations,United States,429,Algeria
51,Computer and mathematical science occupations,United States,429,Algeria
94,Computer and mathematical science occupations,United States,535,Cameroon
95,Computer and mathematical science occupations,United States,535,Cameroon
142,Computer and mathematical science occupations,United States,130,Cape Verde
143,Computer and mathematical science occupations,United States,130,Cape Verde
190,Computer and mathematical science occupations,United States,2096,Egypt
191,Computer and mathematical science occupations,United States,2096,Egypt
238,Computer and mathematical science occupations,United States,225,Eritrea
239,Computer and mathematical science occupations,United States,225,Eritrea
284,Computer and mathematical science occupations,United States,1399,Ethiopia
285,Computer and mathematical science occupations,United States,1399,Ethiopia
330,Computer and mathematical science occupations,United States,1545,Ghana
331,Computer and mathematical science occupations,United States,1545,Ghana
378,Computer and mathematical science occupations,United States,1626,Kenya
379,Computer and mathematical science occupations,United States,1626,Kenya
426,Computer and mathematical science occupations,United States,666,Liberia
427,Computer and mathematical science occupations,United States,666,Liberia
474,Computer and mathematical science occupations,United States,1105,Morocco
475,Computer and mathematical science occupations,United States,1105,Morocco
520,Computer and mathematical science occupations,United States,3541,Nigeria
521,Computer and mathematical science occupations,United States,3541,Nigeria
568,Computer and mathematical science occupations,United States,260,Sierra Leone
569,Computer and mathematical science occupations,United States,260,Sierra Leone
612,Computer and mathematical science occupations,United States,400,Somalia
613,Computer and mathematical science occupations,United States,400,Somalia
656,Computer and mathematical science occupations,United States,2824,South Africa
657,Computer and mathematical science occupations,United States,2824,South Africa
704,Computer and mathematical science occupations,United States,133,Senegal
705,Computer and mathematical science occupations,United States,133,Senegal
...,...,...,...,...
6086,Computer and mathematical science occupations,United States,1307,Nicaragua
6087,Computer and mathematical science occupations,United States,1307,Nicaragua
6134,Computer and mathematical science occupations,United States,726,Costa Rica
6135,Computer and mathematical science occupations,United States,726,Costa Rica
6182,Computer and mathematical science occupations,United States,5009,Colombia
6183,Computer and mathematical science occupations,United States,5009,Colombia
6230,Computer and mathematical science occupations,United States,5597,Cuba
6231,Computer and mathematical science occupations,United States,5597,Cuba
6278,Computer and mathematical science occupations,United States,1098,Chile
6279,Computer and mathematical science occupations,United States,1098,Chile
6324,Computer and mathematical science occupations,United States,169,Dominica
6325,Computer and mathematical science occupations,United States,169,Dominica
6370,Computer and mathematical science occupations,United States,2735,Dominican Republic
6371,Computer and mathematical science occupations,United States,2735,Dominican Republic
6418,Computer and mathematical science occupations,United States,2005,Ecuador
6419,Computer and mathematical science occupations,United States,2005,Ecuador
6512,Computer and mathematical science occupations,United States,1970,Argentina
6513,Computer and mathematical science occupations,United States,1970,Argentina
6606,Computer and mathematical science occupations,United States,627,Bolivia
6607,Computer and mathematical science occupations,United States,627,Bolivia
6654,Computer and mathematical science occupations,United States,3891,Brazil
6655,Computer and mathematical science occupations,United States,3891,Brazil
6702,Computer and mathematical science occupations,United States,345,Belize
6703,Computer and mathematical science occupations,United States,345,Belize
6750,Computer and mathematical science occupations,United States,250,Bermuda
6751,Computer and mathematical science occupations,United States,250,Bermuda
6796,Computer and mathematical science occupations,United States,699,Barbados
6797,Computer and mathematical science occupations,United States,699,Barbados
6844,Computer and mathematical science occupations,United States,271,Bahamas
6845,Computer and mathematical science occupations,United States,271,Bahamas

In [39]:
MigrationUS=MigrationUS.drop_duplicates(subset='Country', keep='first', inplace=False)

In [40]:
MigrationUS

,Detailed occupation,Country of residence,Value,Country
50,Computer and mathematical science occupations,United States,429,Algeria
94,Computer and mathematical science occupations,United States,535,Cameroon
142,Computer and mathematical science occupations,United States,130,Cape Verde
190,Computer and mathematical science occupations,United States,2096,Egypt
238,Computer and mathematical science occupations,United States,225,Eritrea
284,Computer and mathematical science occupations,United States,1399,Ethiopia
330,Computer and mathematical science occupations,United States,1545,Ghana
378,Computer and mathematical science occupations,United States,1626,Kenya
426,Computer and mathematical science occupations,United States,666,Liberia
474,Computer and mathematical science occupations,United States,1105,Morocco
520,Computer and mathematical science occupations,United States,3541,Nigeria
568,Computer and mathematical science occupations,United States,260,Sierra Leone
612,Computer and mathematical science occupations,United States,400,Somalia
656,Computer and mathematical science occupations,United States,2824,South Africa
704,Computer and mathematical science occupations,United States,133,Senegal
750,Computer and mathematical science occupations,United States,313,Sudan
794,Computer and mathematical science occupations,United States,562,Uganda
840,Computer and mathematical science occupations,United States,482,Tanzania
886,Computer and mathematical science occupations,United States,419,Zimbabwe
1028,Computer and mathematical science occupations,United States,29123,Vietnam
1076,Computer and mathematical science occupations,United States,182,Yemen
1120,Computer and mathematical science occupations,United States,798,Uzbekistan
1162,Computer and mathematical science occupations,United States,1323,Sri Lanka
1210,Computer and mathematical science occupations,United States,673,Syria
1256,Computer and mathematical science occupations,United States,3039,Thailand
1304,Computer and mathematical science occupations,United States,3149,South Korea
1352,Computer and mathematical science occupations,United States,1157,Singapore
1400,Computer and mathematical science occupations,United States,587,Saudi Arabia
1446,Computer and mathematical science occupations,United States,12121,North and South Korea
1494,Computer and mathematical science occupations,United States,8600,Pakistan
...,...,...,...,...
5142,Computer and mathematical science occupations,United States,2812,Venezuela
5286,Computer and mathematical science occupations,United States,2337,Panama
5334,Computer and mathematical science occupations,United States,175,Paraguay
5380,Computer and mathematical science occupations,United States,3637,Peru
5428,Computer and mathematical science occupations,United States,8241,Puerto Rico
5522,Computer and mathematical science occupations,United States,200,Saint Lucia
5612,Computer and mathematical science occupations,United States,2343,Trinidad and Tobago
5708,Computer and mathematical science occupations,United States,313,Uruguay
5754,Computer and mathematical science occupations,United States,1893,Guatemala
5802,Computer and mathematical science occupations,United States,959,Honduras
5850,Computer and mathematical science occupations,United States,6271,Jamaica
5898,Computer and mathematical science occupations,United States,249,Grenada
5942,Computer and mathematical science occupations,United States,2473,Guyana
5990,Computer and mathematical science occupations,United States,2540,Haiti
6038,Computer and mathematical science occupations,United States,15444,Mexico
6086,Computer and mathematical science occupations,United States,1307,Nicaragua
6134,Computer and mathematical science occupations,United States,726,Costa Rica
6182,Computer and mathematical science occupations,United States,5009,Colombia
6230,Computer and mathematical science occupations,United States,5597,Cuba
6278,Computer and mathematical science occupations,United States,1098,Chile
6324,Computer and mathematical science occupations,United States,169,Dominica
6370,Computer and mathematical science occupations,United States,2735,Dominican Republic
6418,Computer and mathematical science occupations,United States,2005,Ecuador
6512,Computer and mathematical science occupations,United States,1970,Argentina
6606,Computer and mathematical science occupations,United States,627,Bolivia
6654,Computer and mathematical science occupations,United States,3891,Brazil
6702,Computer and mathematical science occupations,United States,345,Belize
6750,Computer and mathematical science occupations,United States,250,Bermuda
6796,Computer and mathematical science occupations,United States,699,Barbados
6844,Computer and mathematical science occupations,United States,271,Bahamas

In [41]:
MigrationUS.to_csv("../USMigrationCountryWiseCSE.csv",index= False)